.display-4 {
    color: white;
    font-size: 60pt;
    text-shadow: 2px 2px black;
    font-family: "Alfa Slab One", cursive; 
}

.catch-line {
    text-shadow: 2px 2px black;
    color: white;
    font-family: "Tahoma", cursive;
    margin-bottom: -2%; 
}

.jumbotron {
    background: rgba(134, 130, 130, 0.5); 
}
