.header {
    background: rgba(134, 130, 130, 0.5); 
}

.welcome {
    color: white;
    font-size: 30pt;
    text-shadow: 2px 2px black;
    font-family: "Alfa Slab One", cursive; 
    
}

.teams {
    color: white;
    font-size: 30pt;
    text-shadow: 2px 2px black;
    font-family: "Alfa Slab One", cursive; 
}