.footer {
    background-color: rgb(38, 36, 48);
    color: white;
    padding: 20px;     
}

html, body {
    height: 100%;
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main {
    flex: 1;
  }